 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
 }
 .hero
  {
        width: 100%;
        height: 100vh;
        background-image: linear-gradient(rgba(0, 0, 0, 0),rgba(0, 0, 0, 0));
        position: relative;
        padding: 1rem 9%;
        display: flex;
        align-items: center;
        justify-content: center;
  }nav
  {
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      padding: 1rem 5%;
      display: flex;
      justify-content: space-between;

  }
  nav .logo{
      width: 6rem;
     
      display:block;
      right: 2rem;
      align-items: baseline;
      

  }
  nav ul li{
     list-style: none;
     display: inline-block;
     margin-left: 5rem;

  }
   nav ul li a{
       text-decoration: none;
       color: #fff;
       font-size: 1.1rem;
       transition: 0.5s;
       justify-content: space-between;
   }nav ul li a:hover
   {
    -webkit-text-stroke: .2rem rgb(240, 10, 10);
    color: transparent;
   }
   .content
    {
         text-align: center;
         
    }
    .content h1{
        font-size: 10rem;
        color: #fff;
        font-weight: 600;
       transition: 0.8s; 
        
    }
    .content h1:hover{
        -webkit-text-stroke: 0.2rem #fff;
        color: transparent;
    }
    .content a{
        text-decoration: none;
        display: inline-block;
        color: #fff;
        font-size: 1rem;
        border: 0.2rem solid #fff;
        padding: 1.4rem;
        border-radius: 4rem;
        margin-top: 2rem;
        transition: 0.7s;
        
    }.content a:hover{
        -webkit-text-fill-color: 0.2rem rgb(214, 28, 28);
        color: red;
    }
        
    
    .back-v{
        position: absolute;
        z-index: -1;
        right: 0;
        bottom: 0;
        background: fixed;
      
    }
    @media (min-aspect-ratio: 16/9 ){
        .back-v{
            width: 100%;
            height: auto;

        }
    }@media (max-aspect-ratio: 16/9 ){
        .back-v{
            width: auto;
            height: 100%;

        }
    }
    @media(max-width:998px)
    {
        html{
            font-size: 55%;
           
        }
        .content a{
            text-decoration: none;
            display: inline-block;
            color: #fff;
            font-size: 4rem;
            border: 0.2rem solid #fff;
            padding: 1.4rem;
            border-radius: 4rem;
            margin-top: 3rem;
            transition: 0.7s;
    }
}
    @media(max-width:768px)
      {
        html{
            font-size: 45%;
           
        }
        .content a{
            text-decoration: none;
            display: inline-block;
            color: #fff;
            font-size: 2rem;
            border: 0.2rem solid #fff;
            padding: 1.4rem;
            border-radius: 4rem;
            margin-top: 2rem;
            transition: 0.7s;
    }
}@media(max-width:998px)
{
    nav .logo{
        width: 9rem;
        padding:2px;
        display:block;
        
  
    }
}@media(max-width:998px)
{
    .content h1{
        font-size: 10rem;
        color: #fff;
        font-weight: 750;
       transition: 0.8s; 
        
    }
}
    
@media(max-width:998px)
{
    .mainbox
    {
        font-size: 0.7rem;
    }
    
}@media(max-width:100px)
{
    .sidemenu{
        position: fixed;
        top: 0rem;
        right: rem;
      
        height: 100%;
        width:0rem;
        background-color: rgb(71, 69, 69);
       
        padding-top:.1rem;
        overflow-x: hidden;
        transition: all .5s;
       }
}@media(max-width:100px)
{
    .mainbox
    {font-size: 0.7rem;
   .style.margin-left: 10rem;
   .style.width:10rem;
    }
}@media(max-width:100px)
{
    .sidemenu a{
        padding: 1.7rem 1.7rem 1.7rem .1rem;
        text-decoration: none;
        justify-content: safe;
        font-size: 1.3rem;
        color: #999;
        display: flex;
       }
}